# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments & Virtual Ecosystems
.env
.venv
env/
venv/

# Large Binary Model Artifacts & Data Files
*.pkl
*.pt
*.csv
*.txt
.DS_Store
